.flex{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.bank{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}
.menu{
    display: flex;
}
.menu li {
    margin-left: 30px;
}


.destaque{
    
    background-color: #5BC241;
    color: #FFFFFF;
}


@media(max-width: 375px){
    .bank{
        display: block;
        width: 100%;
        text-align: center;
    }
    
    nav{
        width: 100%;
        text-align: center;
    }
    .menu{
        display: block;
        margin-top: 30px;
    }
    
    .menu li {
        margin-left: 0px;
        
    }
    
    .menu a {
        padding: 20px;
        display: block;
    } 
}
